body {
    text-align: center;
}

#thermoBox {
    border: 1px solid #000;
    height: 400px; 
    width: 100px;
    margin: 0 auto;
}

#temp {
    background-color: #F00;
    height: 50%;
    width: 100%;
}